/**************************Utilities*************************/
.link {
  text-decoration: underline;
  color: white;
  display: block;
}

.letter-spacing {
  letter-spacing: 0.5px;
}

/**************************Utilities*************************/
body {
  font-family: Poppins, sans-serif;
  background-color: #f7f7f7;
}

.main-body-padding {
  padding: 2% 5%;
}

.navbar {
  padding-left: 7%;
  padding-right: 7%;
}
.nav-item {
  margin-right: 5px;
}

.introduction {
  height: 100vh;
  background-color: black;
}

.carousel-img {
  object-fit: cover;
  height: 100vh;
}

.carousel-home {
  opacity: 25%;
}

.title {
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  margin-left: 30px;
}
/*
*
*
*
*/
/************************Landing Page************************/

.contact,
.about {
  padding: 5% 10%;
}

.about {
  height: 100vh;
}

/*************************************************************/
/*
*
*
*
*/

.intro {
  background-color: white;
}

.logo {
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  margin-left: 50px;
}

.reg-container {
  position: absolute;
  z-index: 2;
  margin: 15% 15%;
  text-align: center;
}

.reg-start {
  border: none;
  color: white;
}

.system-name {
  color: #028fed;
}

.reg-start p {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 18px;
  color: #eaeaea;
}

.register-now {
  --bs-btn-bg: #028fed;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: #0399fd;
}

.registration-form {
  padding: 7% 15%;
}

.user-register,
.login-form {
  width: 50%;
  margin: 10% auto;
}

@media (max-width: 768px) {
  .login-form {
    width: 75%;
  }

  .registration-form {
    width: 75%;
  }

  .tracer-study-question {
    font-size: 12px;
  }

  .about-section-title {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .login-form {
    width: 100%;
    margin: auto;
  }

  .registration-form {
    width: 100%;
  }
  .tracer-study-question {
    font-size: 12px;
  }
  .about-section-title {
    width: 100%;
  }
}

.username:focus {
  z-index: 1;
  position: relative;
}

.form-floating {
  position: relative;
}

.username {
  padding: 1rem 0.75rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}

.password {
  padding: 1rem 0.75rem;
  border-radius: 0 0 10px 10px;
}

.dashboard {
  padding: 2% 5%;
  margin-top: 48px;
}

.type {
  font-weight: 600;
  font-size: 14px;
  display: inline;
}

.logout {
  display: inline;
}

.logout input {
  text-decoration: none;
  padding: 0;
  font-size: 14px;
}

.users {
  padding: 2% 5%;
}

.users .fa-trash {
  color: #adadad;
}

.add-user-form .user-type {
  display: flex;
}

.radio {
  margin-right: 10px;
}

.user {
  margin: 2% 5%;
  margin: auto;
}

.user .profile-photo {
  background-color: #999999;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.user .information {
  margin-bottom: 1rem;
  border-bottom: 1px solid #999999;
}

.user .information .label {
  font-size: 14px;
  color: #999999;
}

.user .information .value {
  margin-bottom: 0.5rem;
}

.edit-user {
  margin-top: 100px;
}

.delete-user {
  border-radius: 10px;
  padding: 20px;
  background-color: #d6d6d6;
}

.label {
  color: #737373;
  font-size: 14px;
}

.alumni-information {
  border: 0.5px solid #dedede;
  border-radius: 10px;
}

.alumni-info-header {
  font-size: 14px;
}

.alumni-profile {
  margin-top: 100px;
  background-color: #fff;
  border-radius: 10px;
}

.photo-container {
  background-color: #d6d6d6;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: auto;
}

.profile-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 100%;
}

.content-form {
  width: 70%;
  margin: auto;
}

.content-form-divider {
  border: 0.5px solid #dedede;
  border-radius: 10px;
}

.content-body {
  resize: none;
  height: 200px;
  overflow-y: scroll;
}

.survey-answer-form {
  width: 50%;
  margin: auto;
}

.cover-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.side-nav-container {
  position: fixed;
  margin-top: 48px;
  height: 100vh;
  width: 300px;
}

.admin-views {
  margin-top: 48px;
  margin-left: 300px;
  width: calc(100vw - 300px);
}

.admin-picture {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.side-nav {
  font-size: 14px;
}

.admin-picture-container {
  width: 120px;
  height: 120px;
  margin: auto;
}

.side-nav-link:hover {
  background-color: #363c428a;
}

.active {
  background-color: #363c428a;
}

.unreg-alumni-details-popup {
  position: absolute;
  right: 130px;
  display: none;
  z-index: 2;
  height: auto;
  width: 200px;
}

.surveys {
  width: 75%;
  margin: auto;
}

.survey {
  height: auto;
}

.question-card {
  height: 200px;
  width: 200px;
}

.signup-form {
  width: 50%;
}

.contents-side-nav-active {
  background-color: #028fed;
}
.contents-side-nav .nav-item{
  margin-right: 0;
}
.contents-side-nav .nav-item .nav-link {
  margin-left: 24px;
}

.contents-side-nav .nav-item:hover {
  background-color: #028fed;
}
.contents-side-nav .nav-item .nav-link:hover {
  color: #fff;
}

.contents-alumni {
  height: 100vh;
}
